<div class="ewf-inline-style">
    <style media="all" type="text/css">
        .vc_custom_1416387239821 {
            margin-bottom: 0px !important;
            padding-top: 110px !important;
            padding-bottom: 110px !important;
            background-image: url(http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/uploads/2014/11/1920x2000.jpg?id=77) !important;
        }
    </style>
</div>

<div class="ewf-full-width-section nospacing">
    <div id="contact" class="ewf-row vc_custom_1416387239821 parallax row-overlay parallax-enabled">
        <div class="row-overlay ewf-row-overlay-pattern"></div>
        <div class="row-overlay-inner">
            <div class="ewf-span12 vc_column_container">
                <div class="ewf-wrapper">
                    <div class="ewf-row">
                        <div class="ewf-span12 vc_column_container">
                            <div class="ewf-wrapper">
                                <div class="text-center">
                                    <div class="headline ">
                                        <h1>Contact</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ewf-row">
                        <div class="ewf-span4 vc_column_container">
                            <div class="ewf-wrapper">

                                <div class="wpb_widgetised_column wpb_content_element">
                                    <div class="ewf-wrapper">
                                        <div id="text-4" class="widget widget_text">
                                            <h3 class="widget-title"><span>Get in touch</span></h3>
                                            <div class="textwidget">Nullam et ante sit amet tortor sollicitudin congue. Maecenas ut pharetra sapien. Suspendisse nec suscipit risus. Cras vel lorem nec sem condimentum pharetra sed at enim.</div>
                                        </div>
                                        <div id="ewf_widget_contact_info-2" class="widget ewf_widget_contact_info">
                                            <h3 class="widget-title"><span>My Address</span></h3>
                                            <ul>
                                                <li><i class="ifc-home"></i>777 Fifth Avenue / New York / NY 10153</li>
                                                <li><i class="ifc-phone1"></i>(123) 456-7890</li>
                                                <li><i class="ifc-message"></i>office@yoursite.com</li>
                                            </ul>
                                        </div>
                                        <div id="ewf_widget_social_media-2" class="widget ewf_widget_social_media">
                                            <h3 class="widget-title"><span>I’m also on social networks</span></h3>
                                            <div class="fixed"><a class="facebook-icon social-icon" href="#"><i class="fa fa-facebook"></i></a><a class="twitter-icon social-icon" href="#"><i class="fa fa-twitter"></i></a>
                                                <a class="googleplus-icon social-icon" href="#"><i class="fa fa-google-plus"></i>
                                                </a><a class="linkedin-icon social-icon" href="#"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ewf-span8 vc_column_container">
                            <div class="ewf-wrapper">
                                <div role="form" class="wpcf7" id="wpcf7-f4-p5-o1" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form action="/themeforest/versus-resume-wp/#wpcf7-f4-p5-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                        <div style="display: none;">
                                            <input type="hidden" name="_wpcf7" value="4">
                                            <input type="hidden" name="_wpcf7_version" value="4.3">
                                            <input type="hidden" name="_wpcf7_locale" value="en_US">
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p5-o1">
                                            <input type="hidden" name="_wpnonce" value="fd33b32ea0">
                                        </div>
                                        <p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="name"></span>
                                        </p>
                                        <p><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="e-mail address"></span>
                                        </p>
                                        <p><span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="subject"></span>
                                        </p>
                                        <p><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="message"></textarea></span>
                                        </p>
                                        <p>
                                            <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit">
                                            <img class="ajax-loader" src="http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;">
                                        </p>
                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
