
                        <div class="ewf-row">
                            <div class="ewf-span12 vc_column_container">
                                <div class="ewf-wrapper">

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="ewf-wrapper">
                                            <h2 class="text-uppercase">Hobbies &amp; Interests</h2>

                                        </div>
                                    </div>
                                    <ul class="interests-list fixed text-left">
                                        <li class=" ">
                                            <p><i class="ifc-swimming"></i>Sports</p>
                                            <div class="interest-details"><i class="ifc-swimming"></i><strong>Sports</strong>
                                                <p>Lorem ipsum dolor sit amet, sagittis arcu diam elit. Morbi vitae sem laoreet mattis egestas nunc eget elit.</p>
                                            </div>
                                        </li>
                                        <li class=" ">
                                            <p><i class="ifc-slr_camera2"></i>Photography</p>
                                            <div class="interest-details"><i class="ifc-slr_camera2"></i><strong>Photography</strong>
                                                <p>Lorem ipsum dolor sit amet, sagittis arcu diam elit. Morbi vitae sem laoreet mattis egestas nunc eget elit.</p>
                                            </div>
                                        </li>
                                        <li class=" ">
                                            <p><i class="ifc-line_chart"></i>Marketing</p>
                                            <div class="interest-details"><i class="ifc-line_chart"></i><strong>Marketing</strong>
                                                <p>Lorem ipsum dolor sit amet, sagittis arcu diam elit. Morbi vitae sem laoreet mattis egestas nunc eget elit.</p>
                                            </div>
                                        </li>
                                        <li class=" ">
                                            <p><i class="ifc-tv_show"></i>Movies</p>
                                            <div class="interest-details"><i class="ifc-tv_show"></i><strong>Movies</strong>
                                                <p>Lorem ipsum dolor sit amet, sagittis arcu diam elit. Morbi vitae sem laoreet mattis egestas nunc eget elit.</p>
                                            </div>
                                        </li>
                                        <li class=" ">
                                            <p><i class="ifc-portrait_mode"></i>Fashion</p>
                                            <div class="interest-details"><i class="ifc-portrait_mode"></i><strong>Fashion</strong>
                                                <p>Lorem ipsum dolor sit amet, sagittis arcu diam elit. Morbi vitae sem laoreet mattis egestas nunc eget elit.</p>
                                            </div>
                                        </li>
                                        <li class=" ">
                                            <p><i class="ifc-workstation"></i>Technology</p>
                                            <div class="interest-details"><i class="ifc-workstation"></i><strong>Technology</strong>
                                                <p>Lorem ipsum dolor sit amet, sagittis arcu diam elit. Morbi vitae sem laoreet mattis egestas nunc eget elit.</p>
                                            </div>
                                        </li>
                                        <li class=" ">
                                            <p><i class="ifc-directions"></i>Travel</p>
                                            <div class="interest-details"><i class="ifc-directions"></i><strong>Travel</strong>
                                                <p>Lorem ipsum dolor sit amet, sagittis arcu diam elit. Morbi vitae sem laoreet mattis egestas nunc eget elit.</p>
                                            </div>
                                        </li>
                                        <li class=" ">
                                            <p><i class="ifc-geocaching"></i>History</p>
                                            <div class="interest-details"><i class="ifc-geocaching"></i><strong>History</strong>
                                                <p>Lorem ipsum dolor sit amet, sagittis arcu diam elit. Morbi vitae sem laoreet mattis egestas nunc eget elit.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
