
        <div class="ewf-full-width-section nospacing">
            <div id="personal-details" class="ewf-row user-details">
                <div class="ewf-span12 vc_column_container">
                    <div class="ewf-wrapper">
                        <div class="ewf-inline-style">

                            <style media="all" type="text/css">
                                .vc_custom_1416491652026 {
                                    margin-bottom: 0px !important;
                                }
                            </style>

                        </div>
                        <div class="ewf-row vc_custom_1416491652026">
                            <div class="ewf-span12 vc_column_container">
                                <div class="ewf-wrapper">
                                    <div class="text-center">
                                        <div class="headline ">
                                            <p><span style="background-color:#fff;">Who am I?</span>
                                            </p>
                                            <h1>Personal Details</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ewf-row">
                            <div class="ewf-span3 vc_column_container">
                                <div class="ewf-wrapper">

                                    <div class="wpb_single_image wpb_content_element vc_align_left">
                                        <div class="ewf-wrapper">

                                            <img width="270" height="270" src= <%= "#{@user.profile_url || ""}" %> class=" vc_box_border_grey attachment-full" alt="270x270" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ewf-span4 vc_column_container">
                                <div class="ewf-wrapper">
                                    <ul class="personal-details ">
                                      <li>Name:
                                        <span><%= render partial: "users/user_info", locals: {option: "fullname"} %><span>
                                      </li>
                                        <li>
                                          Date of birth: <%= render partial: "users/user_info", locals: {option: "fullname"} %>
                                        </li>
                                        <li>Nationality: Citizen of Envato</li>
                                        <li>Address: 23 High Hope Blvd. Some City</li>
                                        <li>Phone: (123) - 456-7890</li>
                                        <li>Email: john.smith@jbs.com</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="ewf-span5 vc_column_container">
                                <div class="ewf-wrapper">

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="ewf-wrapper">
                                            <h3 class="text-uppercase">Profesional Profile</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac
                                                purus dignissim.
                                            </p>
                                            <p>
                                                Praesent sit amet massa suscipit, auctor sapien non, egestas felis. Maecenas mattis aliquet est vitae dignissim. Suspendisse aliquam lacus mauris, id placerat felis faucibus quis. Suspendisse potenti. Etiam mattis, eros id porta iaculis.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
