
        <div id="portfolio" class="ewf-row vc_custom_1415888829982">
            <div class="ewf-span12 vc_column_container">
                <div class="ewf-wrapper">
                    <div class="text-center">
                        <div class="headline ">
                            <p><span style="background-color:#fff;">My best work</span>
                            </p>
                            <h1>Portfolio</h1>
                        </div>
                    </div>
                    <div class="ewf-row title-filter">
                        <div class="ewf-span12">
                            <div class="portfolio-filter text-center">
                                <ul>
                                    <li><a class="active" href="#" data-items="9" data-filter="*" data-term="all">All</a>
                                    </li>
                                    <li><a data-term="graphic-design" data-items="5" data-filter=".graphic-design" href="#">Graphic Design</a>
                                    </li>
                                    <li><a data-term="logo" data-items="3" data-filter=".logo" href="#">Logo</a>
                                    </li>
                                    <li><a data-term="photography" data-items="6" data-filter=".photography" href="#">Photography</a>
                                    </li>
                                    <li><a data-term="video" data-items="5" data-filter=".video" href="#">Video</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end .portfolio-filter -->
                        </div>
                    </div>
                    <ul class="portfolio-items portfolio-strip fixed " data-display="filters-center" data-style="ewf-portfolio-style-1" style="position: relative; height: 626px;">
                      <% index = 0 %>
                      <% current_user.repos.each do |repo|%>
                        <% index += 1%>
                        <li data-id="101" class="item photography video" style="">

                            <div class="portfolio-item">

                                <div class="portfolio-item-preview">
                                    <img src="http://loremflickr.com/328/380?random=<%= index +1%>" alt="">

                                    <div class="portfolio-item-overlay">

                                        <div class="portfolio-item-overlay-actions">

                                            <a href="http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/uploads/2014/11/11.png" class="magnificPopup-gallery portfolio-item-zoom">+</a>
                                            <a class="portfolio-item-link" data-id="101" href="#project-101">&gt;</a>

                                        </div>

                                    </div>

                                </div>
                                <!-- end .portfolio-item-preview -->

                                <div class="portfolio-item-description">

                                    <h3> <%= repo.name%> </h3>
                                    <p><%= repo.description %></p>

                                </div>
                                <!-- end .portfolio-item-description -->

                            </div>
                            <!-- end .portfolio-item -->

                        </li>
                        <% break if index >= 6 %>
                      <% end %>
                    </ul>
                    <div class="ewf-row">
                        <div class="ewf-span12 text-center">
                            <a href="#" class="btn btn-large portfolio-load-more" data-display="filters-center" data-style="ewf-portfolio-style-1" data-load-items="6">Load more</a>
                        </div>
                        <!-- end .span12 -->
                    </div>
                    <div class="ewf-isogrid-popup-content">
                        <div id="project-101" class="white-popup mfp-hide">
                            <div class="ewf-row">
                                <div class="ewf-span12 vc_column_container">
                                    <div class="ewf-wrapper">
                                        <div class="text-center">
                                            <div class="headline ">
                                                <p><span style="background-color:#ffffff;">Sample details</span>
                                                </p>
                                                <h1>Project Name</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ewf-row">
                                <div class="ewf-span6 vc_column_container">
                                    <div class="ewf-wrapper">

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="ewf-wrapper">
                                                <h3 class="text-uppercase">General Description</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum, massa sit amet tincidunt vestibulum, nisi dui rutrum massa, eu lacinia velit nulla vel nunc. Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Pellentesque tortor tellus, tempus at mi nec, accumsan ullamcorper.</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum, massa sit amet tincidunt vestibulum, nisi dui rutrum massa, eu lacinia velit nulla vel nunc.</p>

                                            </div>
                                        </div>
                                        <div class="testimonial">
                                            <blockquote>
                                                <p>Donec ut diam bibendum, rutrum erat vitae, rutrum tellus. Donec mattis in purus sed sodales. Morbi in tempus ligula. Vivamus lacinia ante sed orci tempus suscipit.</p>
                                            </blockquote>

                                            <h5>John Smith, General Manager Company Name </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="ewf-span6 vc_column_container">
                                    <div class="ewf-wrapper">

                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                            <div class="ewf-wrapper">

                                                <img width="1000" height="665" src="http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/uploads/2014/11/1.png" class=" vc_box_border_grey attachment-full" alt="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="project-100" class="white-popup mfp-hide">
                            <div class="ewf-row">
                                <div class="ewf-span12 vc_column_container">
                                    <div class="ewf-wrapper">
                                        <div class="text-center">
                                            <div class="headline ">
                                                <p><span style="background-color:#ffffff;">Sample details</span>
                                                </p>
                                                <h1>Project Name</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ewf-row">
                                <div class="ewf-span6 vc_column_container">
                                    <div class="ewf-wrapper">

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="ewf-wrapper">
                                                <h3 class="text-uppercase">General Description</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum, massa sit amet tincidunt vestibulum, nisi dui rutrum massa, eu lacinia velit nulla vel nunc. Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Pellentesque tortor tellus, tempus at mi nec, accumsan ullamcorper.</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum, massa sit amet tincidunt vestibulum, nisi dui rutrum massa, eu lacinia velit nulla vel nunc.</p>

                                            </div>
                                        </div>
                                        <div class="testimonial">
                                            <blockquote>
                                                <p>Donec ut diam bibendum, rutrum erat vitae, rutrum tellus. Donec mattis in purus sed sodales. Morbi in tempus ligula. Vivamus lacinia ante sed orci tempus suscipit.</p>
                                            </blockquote>

                                            <h5>John Smith, General Manager Company Name </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="ewf-span6 vc_column_container">
                                    <div class="ewf-wrapper">

                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                            <div class="ewf-wrapper">

                                                <img width="1000" height="665" src="http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/uploads/2014/11/1.png" class=" vc_box_border_grey attachment-full" alt="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="project-99" class="white-popup mfp-hide">
                            <div class="ewf-row">
                                <div class="ewf-span12 vc_column_container">
                                    <div class="ewf-wrapper">
                                        <div class="text-center">
                                            <div class="headline ">
                                                <p><span style="background-color:#ffffff;">Sample details</span>
                                                </p>
                                                <h1>Project Name</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ewf-row">
                                <div class="ewf-span6 vc_column_container">
                                    <div class="ewf-wrapper">

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="ewf-wrapper">
                                                <h3 class="text-uppercase">General Description</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum, massa sit amet tincidunt vestibulum, nisi dui rutrum massa, eu lacinia velit nulla vel nunc. Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Pellentesque tortor tellus, tempus at mi nec, accumsan ullamcorper.</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum, massa sit amet tincidunt vestibulum, nisi dui rutrum massa, eu lacinia velit nulla vel nunc.</p>

                                            </div>
                                        </div>
                                        <div class="testimonial">
                                            <blockquote>
                                                <p>Donec ut diam bibendum, rutrum erat vitae, rutrum tellus. Donec mattis in purus sed sodales. Morbi in tempus ligula. Vivamus lacinia ante sed orci tempus suscipit.</p>
                                            </blockquote>

                                            <h5>John Smith, General Manager Company Name </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="ewf-span6 vc_column_container">
                                    <div class="ewf-wrapper">

                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                            <div class="ewf-wrapper">

                                                <img width="1000" height="665" src="http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/uploads/2014/11/1.png" class=" vc_box_border_grey attachment-full" alt="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="project-98" class="white-popup mfp-hide">
                            <div class="ewf-row">
                                <div class="ewf-span12 vc_column_container">
                                    <div class="ewf-wrapper">
                                        <div class="text-center">
                                            <div class="headline ">
                                                <p><span style="background-color:#ffffff;">Sample details</span>
                                                </p>
                                                <h1>Project Name</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ewf-row">
                                <div class="ewf-span6 vc_column_container">
                                    <div class="ewf-wrapper">

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="ewf-wrapper">
                                                <h3 class="text-uppercase">General Description</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum, massa sit amet tincidunt vestibulum, nisi dui rutrum massa, eu lacinia velit nulla vel nunc. Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Pellentesque tortor tellus, tempus at mi nec, accumsan ullamcorper.</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum, massa sit amet tincidunt vestibulum, nisi dui rutrum massa, eu lacinia velit nulla vel nunc.</p>

                                            </div>
                                        </div>
                                        <div class="testimonial">
                                            <blockquote>
                                                <p>Donec ut diam bibendum, rutrum erat vitae, rutrum tellus. Donec mattis in purus sed sodales. Morbi in tempus ligula. Vivamus lacinia ante sed orci tempus suscipit.</p>
                                            </blockquote>

                                            <h5>John Smith, General Manager Company Name </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="ewf-span6 vc_column_container">
                                    <div class="ewf-wrapper">

                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                            <div class="ewf-wrapper">

                                                <img width="1000" height="665" src="http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/uploads/2014/11/1.png" class=" vc_box_border_grey attachment-full" alt="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="project-97" class="white-popup mfp-hide">
                            <div class="ewf-row">
                                <div class="ewf-span12 vc_column_container">
                                    <div class="ewf-wrapper">
                                        <div class="text-center">
                                            <div class="headline ">
                                                <p><span style="background-color:#ffffff;">Sample details</span>
                                                </p>
                                                <h1>Project Name</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ewf-row">
                                <div class="ewf-span6 vc_column_container">
                                    <div class="ewf-wrapper">

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="ewf-wrapper">
                                                <h3 class="text-uppercase">General Description</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum, massa sit amet tincidunt vestibulum, nisi dui rutrum massa, eu lacinia velit nulla vel nunc. Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Pellentesque tortor tellus, tempus at mi nec, accumsan ullamcorper.</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum, massa sit amet tincidunt vestibulum, nisi dui rutrum massa, eu lacinia velit nulla vel nunc.</p>

                                            </div>
                                        </div>
                                        <div class="testimonial">
                                            <blockquote>
                                                <p>Donec ut diam bibendum, rutrum erat vitae, rutrum tellus. Donec mattis in purus sed sodales. Morbi in tempus ligula. Vivamus lacinia ante sed orci tempus suscipit.</p>
                                            </blockquote>

                                            <h5>John Smith, General Manager Company Name </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="ewf-span6 vc_column_container">
                                    <div class="ewf-wrapper">

                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                            <div class="ewf-wrapper">

                                                <img width="1000" height="665" src="http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/uploads/2014/11/1.png" class=" vc_box_border_grey attachment-full" alt="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="project-96" class="white-popup mfp-hide">
                            <div class="ewf-row">
                                <div class="ewf-span12 vc_column_container">
                                    <div class="ewf-wrapper">
                                        <div class="text-center">
                                            <div class="headline ">
                                                <p><span style="background-color:#ffffff;">Sample details</span>
                                                </p>
                                                <h1>Project Name</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ewf-row">
                                <div class="ewf-span6 vc_column_container">
                                    <div class="ewf-wrapper">

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="ewf-wrapper">
                                                <h3 class="text-uppercase">General Description</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum, massa sit amet tincidunt vestibulum, nisi dui rutrum massa, eu lacinia velit nulla vel nunc. Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Pellentesque tortor tellus, tempus at mi nec, accumsan ullamcorper.</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum, massa sit amet tincidunt vestibulum, nisi dui rutrum massa, eu lacinia velit nulla vel nunc.</p>

                                            </div>
                                        </div>
                                        <div class="testimonial">
                                            <blockquote>
                                                <p>Donec ut diam bibendum, rutrum erat vitae, rutrum tellus. Donec mattis in purus sed sodales. Morbi in tempus ligula. Vivamus lacinia ante sed orci tempus suscipit.</p>
                                            </blockquote>

                                            <h5>John Smith, General Manager Company Name </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="ewf-span6 vc_column_container">
                                    <div class="ewf-wrapper">

                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                            <div class="ewf-wrapper">

                                                <img width="1000" height="665" src="http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/uploads/2014/11/1.png" class=" vc_box_border_grey attachment-full" alt="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
