<div class="ewf-row">

    <div class="ewf-span8 vc_column_container">
        <div class="ewf-wrapper">

            <div class="wpb_text_column wpb_content_element  vc_custom_1416489486710">
                <div class="ewf-wrapper">
                    <h2 class="text-uppercase">Software</h2>

                </div>
            </div>
            <div class="fixed ">
                <div class="progress-bar-description">Photoshop <span style="left:86%;">86%</span>
                </div>
                <div class="progress-bar" style="background-color:#5f5f5f"><span class="progress-bar-outer" data-width="86"><span class="progress-bar-inner" style="background-color:#252525"></span></span>
                </div>
                <!-- end .progress-bar -->
            </div>
            <div class="fixed ">
                <div class="progress-bar-description">Corel Draw <span style="left:73%;">73%</span>
                </div>
                <div class="progress-bar" style="background-color:#5f5f5f"><span class="progress-bar-outer" data-width="73"><span class="progress-bar-inner" style="background-color:#252525"></span></span>
                </div>
                <!-- end .progress-bar -->
            </div>
            <div class="fixed ">
                <div class="progress-bar-description">Adobe Illustrator <span style="left:79%;">79%</span>
                </div>
                <div class="progress-bar" style="background-color:#5f5f5f"><span class="progress-bar-outer" data-width="79"><span class="progress-bar-inner" style="background-color:#252525"></span></span>
                </div>
                <!-- end .progress-bar -->
            </div>
            <div class="fixed ">
                <div class="progress-bar-description">Adobe InDesign <span style="left:57%;">57%</span>
                </div>
                <div class="progress-bar" style="background-color:#5f5f5f"><span class="progress-bar-outer" data-width="57"><span class="progress-bar-inner" style="background-color:#252525"></span></span>
                </div>
                <!-- end .progress-bar -->
            </div>
            <div class="fixed ">
                <div class="progress-bar-description">Cinema 4D <span style="left:44%;">44%</span>
                </div>
                <div class="progress-bar" style="background-color:#5f5f5f"><span class="progress-bar-outer" data-width="44"><span class="progress-bar-inner" style="background-color:#252525"></span></span>
                </div>
                <!-- end .progress-bar -->
            </div>
        </div>
    </div>

    <div class="ewf-span4 vc_column_container">
        <div class="ewf-wrapper">

            <div class="wpb_text_column wpb_content_element  vc_custom_1416489580244">
                <div class="ewf-wrapper">
                    <h2 class="text-uppercase">Recognitions</h2>

                </div>
            </div>
            <div class="icon-box-1 ">
                <i class="ifc-drafting_compass"></i>
                <div class="icon-box-content">
                    <h3>International Design Awards 2014</h3>
                    <p>15 March 2014 / New York State University
                        <br>Place: 3</p>

                </div>
                <!-- end .icon-box-content -->
            </div>
            <!-- end .icon-box-1 -->
            <div class="icon-box-1 ">
                <i class="ifc-king"></i>
                <div class="icon-box-content">
                    <h3>Logo Design Contest Chicago 2013</h3>
                    <p>12 October 2013 / Chicago House of Art
                        <br>Place: 2</p>

                </div>
                <!-- end .icon-box-content -->
            </div>
            <!-- end .icon-box-1 -->
            <div class="icon-box-1 ">
                <i class="ifc-pain_brush"></i>
                <div class="icon-box-content">
                    <h3>Web Design Contest New York 2013</h3>
                    <p>12 October 2013 / New York Technology Office
                        <br>Place: 2</p>

                </div>
                <!-- end .icon-box-content -->
            </div>
            <!-- end .icon-box-1 -->
        </div>
    </div>
</div>
