
                                    <div class="ewf-row cv-section ">
                                        <div class="ewf-span3">

                                            <div class="cv-section-title">

                                                <h1>
                                      						<span>
                                      							2010
                                      							<small>Octomber</small>
                                      						</span>
                                      						-
                                      						<span>
                                      							Present
                                      							<small></small>
                                      						</span>
                                      					</h1>

                                                <h3>Creatika Agency</h3>

                                            </div>
                                            <!-- end .cv-section-title -->

                                        </div>
                                        <!-- end .ewf-span3 -->

                                        <div class="ewf-span9">
                                            <div class="cv-item">
                                                <h3>Senior Graphic Designer</h3>
                                                <p>Donec mollis venenatis pulvinar. Mauris leo odio, euismod at tellus ac, tincidunt vulputate velit. Aenean eget tortor feugiat, facilisis arcu a, commodo felis. Fusce imperdiet nisl urna, quis elementum sapien
                                                    hendrerit sollicitudin. Maecenas porttitor ultrices erat in ornare. Fusce imperdiet nisl urna, quis elementum sapien hendrerit sollicitudin. Maecenas porttitor ultrices erat in ornare.</p>
                                                <p>Fusce imperdiet nisl urna, quis elementum sapien hendrerit sollicitudin. Maecenas porttitor ultrices erat in ornare. Fusce imperdiet nisl urna, quis elementum sapien hendrerit sollicitudin. Maecenas porttitor
                                                    ultrices erat in ornare.</p>
                                            </div>
                                            <!-- end .cv-item -->

                                        </div>
                                        <!-- end .ewf-span9 -->
                                    </div>
                                    <!-- end .cv-section -->
