<% sign_in_provider.each do |provider, helper| %>
	<div class="col-md-5 sso_option">
		<%= link_to signin_path(provider.to_s), class: "btn btn-lg btn-block btn-social btn-linkedin", style: "color: #fff !important;background-color: #{helper[:class]};" do %>
			<%= "#{content_tag :i, nil, class: "fa #{helper[:icon_class]} ", style:"color: #fff !important;"} #{helper[:name]}".html_safe %>
		<% end %>
	</div>

<% end %>
