<head>


<link rel="shortcut icon" href="http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/uploads/favicon.png" /><link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/uploads/apple-touch-icon-144-precomposed.png" />
<title>Versus Resume WP | CV WordPress Theme</title>

		<script type="text/javascript">
			var ajaxURL = "http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-admin/admin-ajax.php";
			var siteURL = "http://bitpublimedia.ro/themeforest/versus-resume-wp";
			var themePath = "http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/themes/vresume-wp";
		</script><link rel="alternate" type="application/rss+xml" title="Versus Resume WP &raquo; Feed" href="http://bitpublimedia.ro/themeforest/versus-resume-wp/feed/" />
<link rel="alternate" type="application/rss+xml" title="Versus Resume WP &raquo; Comments Feed" href="http://bitpublimedia.ro/themeforest/versus-resume-wp/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="Versus Resume WP &raquo; Home Comments Feed" href="http://bitpublimedia.ro/themeforest/versus-resume-wp/home/feed/" />

		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='contact-form-7-css'  href='http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.3' type='text/css' media='all' />


<link rel='stylesheet' id='plugin-iconfontcustom-css-css'  href='http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/themes/vresume-wp/layout/css/iconfontcustom/icon-font-custom.css?ver=4.3.1' type='text/css' media='all' />

<link rel='stylesheet' id='plugin-bxslider-css-css'  href='http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/themes/vresume-wp/layout/js/bxslider/jquery.bxslider.css?ver=4.3.1' type='text/css' media='all' />

<link rel='stylesheet' id='plugin-magnificpopup-css-css'  href='http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/themes/vresume-wp/layout/js/magnificpopup/magnific-popup.css?ver=4.3.1' type='text/css' media='all' />

<link rel='stylesheet' id='theme-style-css'  href='http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/themes/vresume-wp/style.css?ver=4.3.1' type='text/css' media='all' />

<style id='theme-style-inline-css' type='text/css'>
.ewf-boxed-layout #wrap,
.ewf-boxed-layout #wrap #nav,
.ewf-boxed-layout #header { max-width:1370px;}
.ewf-debug-message  { background-color: #FCFCFC;border-left: 4px solid #7ad03a;box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);padding:12px;margin:20px;color:#555; }





		body {
background-color:#fff;
background-repeat:repeat-all;
background-position:center center;
background-attachment:scroll;}

</style>


<script type='text/javascript' src='http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-includes/js/jquery/jquery.js?ver=1.11.3'></script>


<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://bitpublimedia.ro/themeforest/versus-resume-wp/xmlrpc.php?rsd" />

<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 4.3.1" />

<link rel='canonical' href='http://bitpublimedia.ro/themeforest/versus-resume-wp/' />

<link rel='shortlink' href='http://bitpublimedia.ro/themeforest/versus-resume-wp/' />

<meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
</head>
<body class="home page page-id-5 page-template-default ewf-sticky-header wpb-js-composer js-comp-ver-1.3.5 vc_responsive">


	<div id="pageloader">
			<div class="loader-img">

				<img src="http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/uploads/loader.gif" alt="">

			</div><!-- end .loader-img -->
		</div><!-- end .pageloader -->

	<div id="wrap">

		<div id="header">

		<!-- /// HEADER  //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


					<div class="ewf-header-image-option ewf-full-width-section parallax full-screen" style="background-image:url(http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/uploads/2014/12/1920x1280.jpg);">

						<div class="parallax-content full-screen"><div class="parallax-overlay" style="background-image:url(http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/themes/vresume-wp/layout/images/pattern.png);"></div><div class="parallax-content-inner">

								<div class="ewf-row">
									<div class="ewf-span12 text-center">

										<div class="headline"><h1>John Smith</h1><p><span>Profession Description</span></p></div><!-- end .headline -->

									</div><!-- end .ewf-span12 -->
								</div><!-- end .ewf-row -->

							</div><!-- end .parallax-content-inner --><a href="#personal-details"><i class="ifc-down4"></i></a>
						</div><!-- end .parallax-content -->

					</div><!-- end .parallax -->

            <div id="nav">

                <div class="ewf-row">
                    <div class="ewf-span3">

                        <!-- // Logo // -->
                        <a href="http://bitpublimedia.ro/themeforest/versus-resume-wp/" id="logo">
                            John Smith
                        </a>

                    </div><!-- end .ewf-span3 -->
                    <div class="ewf-span9">

                        <a href="#" id="mobile-menu-trigger">
                            <i class="fa fa-bars"></i>
                        </a>

						<!-- // Menu // -->
						<ul id="menu" class="sf-menu fixed"><li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20">
<a title="Personal Details" href="#personal-details" rel="page-20" ><span>Personal Details</span></a>
</li>
<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21">
<a title="Experience" href="#experience" rel="page-21" ><span>Experience</span></a>
</li>
<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22">
<a title="Education" href="#education" rel="page-22" ><span>Education</span></a>
</li>
<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23">
<a title="References" href="#references" rel="page-23" ><span>References</span></a>
</li>
<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-24">
<a title="Skills" href="#skills" rel="page-24" ><span>Skills</span></a>
</li>
<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25">
<a title="Portfolio" href="#portfolio" rel="page-25" ><span>Portfolio</span></a>
</li>
<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26">
<a title="Contact" href="#contact" rel="page-26" ><span>Contact</span></a>
</li>
</ul>
                    </div><!-- end .ewf-span9 -->
                </div><!-- end .ewf-row -->

			</div><!-- end #nav -->

		<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

		</div><!-- end #header -->
		<div id="content">

		<!-- /// CONTENT  //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


<div class="ewf-inline-style"><style media="all" type="text/css">.vc_custom_1415888099064{padding-bottom: 80px !important;}</style></div><div class="ewf-full-width-section nospacing"><div  id="personal-details" class="ewf-row vc_custom_1415888099064">
	<div class="ewf-span12 vc_column_container">
		<div class="ewf-wrapper">
			<div class="ewf-inline-style"><style media="all" type="text/css">.vc_custom_1416491652026{margin-bottom: 0px !important;}</style></div><div  class="ewf-row vc_custom_1416491652026">
	<div class="ewf-span12 vc_column_container">
		<div class="ewf-wrapper">
			<div class="text-center"><div class="headline "><p><span style="background-color:#fff;">Who am I?</span></p><h1>Personal Details</h1></div></div>
		</div>
	</div>
</div><div  class="ewf-row">
	<div class="ewf-span3 vc_column_container">
		<div class="ewf-wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="ewf-wrapper">

			<img width="270" height="270" src="http://bitpublimedia.ro/themeforest/versus-resume-wp/wp-content/uploads/2014/11/270x270.png" class=" vc_box_border_grey attachment-full" alt="270x270" />
		</div>
	</div>
		</div>
	</div>

	<div class="ewf-span4 vc_column_container">
		<div class="ewf-wrapper">
			<ul class="personal-details "><li>Name: John Smith</li><li>Date of birth: 14 February 1986</li><li>Nationality: Citizen of Envato</li><li>Address: 23 High Hope Blvd. Some City</li><li>Phone: (123) - 456-7890</li><li>Email: john.smith@jbs.com</li></ul>
		</div>
	</div>

	<div class="ewf-span5 vc_column_container">
		<div class="ewf-wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="ewf-wrapper">
			<h3 class="text-uppercase">Profesional Profile</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.</p>
<p>Praesent sit amet massa suscipit, auctor sapien non, egestas felis. Maecenas mattis aliquet est vitae dignissim. Suspendisse aliquam lacus mauris, id placerat felis faucibus quis. Suspendisse potenti. Etiam mattis, eros id porta iaculis.</p>

		</div>

</body>
